<nav class="navbar navbar-expand-lg bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand text-white" routerLink="#" >Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" routerLink="/Home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/table">Rocky And Morty</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/User-List">User List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/RegistrationForm">Registration Form</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/login">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <!-- <div class="sidebar">
    <header>Arvind</header>

    <ul>
      <li>Home</li>
      <li>About</li>
      <li>Contact Us</li>
    </ul>
  </div> -->