/* *{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;

}
.sidebar{
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    background: violet;
}
.sidebar header{
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: red;
    user-select: none;
}

.sidebar ul{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
} */