/* You can add global styles to this file, and also import other style files */
@import url(../node_modules/bootstrap/dist/css/bootstrap.min.css);
.container img{
    margin-top: 50px;
    margin-left: 300px;
    width: 700px;
    height: 500px;
}